<div id='page'>
    <div class="header">
        <div class="logo">
            <img class="logo_img">
        </div>
    </div>
    <div class="content" style="background-image: url(assets/img/login/login_background.jpeg);">
        <div class="content_inner">
            <div class="login_pannel">
                <div class="login_panel_bg"></div>
                <app-login-with-username></app-login-with-username>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="about">
            <span>关于我们</span>
            <span>法律声明</span>
        </div>
        <div class="link"></div>
        <div class="copyright">2009-2019 xxx.com 版权所有 ICP证：浙x*-00000000</div>
    </div>
</div>