<div class="login">
    <div class="login_tab">
        <span>账号登录</span>
    </div>
    <div class="login_line"></div>
    <div class="login_content">
        <div class="login_submit">
            <input type="text" id="login_username" placeholder="账号" class="login_input" >
            <input type="password" id="login_password" placeholder="密码" class="login_input" >
            <a target="_blank" > 忘记密码</a>
            <input type="submit" id="login_submit" class="logon_submit" value="登录">
        </div>
        <div class="long_other">
            <div class="android">安卓</div>
            <div class="ios">苹果</div>
            <div class="QRcode">扫描</div>
        </div>
    </div>
</div>